#container {
  width: 1900px;
  height: 800px;
  position: relative;
  border-style: solid;
  transition: background .5s
}

.dot {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 1;
    border-radius: 50%;
    border-style: dashed;
    border-color: dimgray darksalmon lawngreen fuchsia;
    display: inline-block;
    visibility: visible;
    transition: opacity .25s
}

.dot:hover {
    opacity: 0;
}
